.explore-page {
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #ffffff;
  min-height: 100vh;
}

/* Movie Grid */
.movie-grid {
  display: grid;

  /* fixed columns for better spacing */
  grid-template-columns: repeat(auto-fill, 210px);

  justify-content: center; 
  gap: 10px;

  margin-top: 10px;
}

/* remove extra spacing */
.movie-grid > * {
  margin: 0;
  padding: 0;
}

/* Responsive */

@media (max-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, 160px);
  }
}

@media (max-width: 768px) {
  .explore-page {
    padding: 15px;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}